services:
  airline-app:
#    environment:
#      DB_NAME: other-db-name
#      DB_USER: other-db-user
#      DB_PASSWORD: other-db-pass
    ports:
      - "9000:9000"

  airline-db:
    ports:
      - "33063:3306"
